.journal{
    margin: 0 auto;
}
.journal-content{
    margin: 0 auto;
    width: 600px;
}
.image{
    margin-left: -7rem;
    
}
.pie{
    width: 700px;
}
h1{
    font-size: 50px;
}
.pp{
    border-top: 3px solid blue;
    border-bottom: 3px solid blue;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 25px;
}
blockquote{
    border-left: 6px solid rgba(0, 0, 0, 0.589) ;
    padding-left: 1.3rem;
}
